.to-dos {
    list-style: none;
    margin: 0;
    padding: 0;
}

.to-do-item {

    padding: 1%;

    margin-bottom: 5%;
    display: flex;
    align-items: flex-start;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background-color: rgba(36, 47, 144, .7);

    color: white;
    font-size: 1.3em;
    font-family: "Arial Narrow";
    letter-spacing: .05em;
}

.to-do-item:first-of-type {
    margin-top: 5%;
}

.to-do-item:last-of-type {
    margin-bottom: 0;
}

.to-do-desc {
    flex: 1;
}

.to-do-times {
    border: none;
    background-color: transparent;
    color: white;
}